<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiewen.spp.dao.DeviceAppInfoMapper">

	<resultMap id="BaseResultMap" type="com.jiewen.spp.dto.DeviceAppInfoDto">
		<result column="app_name" jdbcType="VARCHAR" property="appName" />
		<result column="app_package" jdbcType="VARCHAR" property="appPackage" />
		<result column="app_version" jdbcType="VARCHAR" property="appVersion" />
		<result column="app_file" jdbcType="VARCHAR" property="appFile" />
		<result column="app_md5" jdbcType="VARCHAR" property="appMd5" />
		<result column="start_hard_shift" jdbcType="VARCHAR" property="startHardShift" />
		<result column="end_hard_shift" jdbcType="VARCHAR" property="endHardShift" />
		<result column="app_version_number" jdbcType="DECIMAL" property="appVersionNumber" />
		<result column="device_status" jdbcType="VARCHAR" property="deviceStatus" />
		<result column="os_status" jdbcType="VARCHAR" property="osStatus" />
		<result column="device_type" jdbcType="VARCHAR" property="deviceType" />
		<result column="device_os_version" jdbcType="VARCHAR" property="deviceOsVersion" />
		<result column="os_upgrade_type" jdbcType="VARCHAR" property="osUpgradeType" />
		<result column="manufacturer_no" jdbcType="VARCHAR" property="manufacturerNo" />
		<result column="upgrade_mode" jdbcType="VARCHAR" property="upgradeMode" />
		<result column="organ_id" jdbcType="VARCHAR" property="organId" />
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="category" jdbcType="VARCHAR" property="category" />
		<result column="platform" jdbcType="VARCHAR" property="platform" />
		<result column="app_file_size" jdbcType="VARCHAR" property="appFileSize" />
		<result column="app_img" jdbcType="VARCHAR" property="appImg" />
		<result column="app_logo" jdbcType="VARCHAR" property="appLogo" />
		<result column="app_description" jdbcType="VARCHAR" property="appDescription" />
		<result column="device_sn" jdbcType="VARCHAR" property="deviceSn" />
		<result column="strategy_desc" jdbcType="VARCHAR" property="strategyDesc"/>
		<result column="upgrade_desc" jdbcType="VARCHAR" property="upgradeDesc"/>
	</resultMap>

	<sql id="baseCoumns">
		r.device_sn,
        a.id,
        ai.category,
        ai.platform,
        a.app_file_size,
        ai.app_img,
        ai.app_logo,
		a.app_name,
		a.app_package,
		a.app_version,
		a.app_file,
		a.app_md5,
		a.app_description,
		a.start_hard_shift,
		a.end_hard_shift,
		a.app_version_number,
		ai.organ_id,
		t.device_status,
		t.os_status,
		t.device_type,
		t.device_os_version,
		t.os_upgrade_type,
		t.manufacturer_no,
		a.upgrade_mode,
		r.strategy_desc,
		r.upgrade_desc
	</sql>

	<sql id="joinTables">
		LEFT JOIN t_app_device r
		on a.id = r.APK_ID
		LEFT JOIN
		t_app_info ai
		ON ai.app_package = a.app_package
		LEFT JOIN t_device_info
		t
		on
		t.device_sn
		= r.device_sn
	</sql>

	<select id="getCheckAppVersion" resultMap="BaseResultMap">
		SELECT
		<include refid="baseCoumns" />
		FROM t_app_version a
		<include refid="joinTables" />
		WHERE t.device_sn = #{deviceSn} AND a.app_package = #{appPackage}
		<if test="manufacturerNo != null and manufacturerNo != '' ">
			AND t.manufacturer_no = #{manufacturerNo}
		</if>
		<if test="deviceType != null and deviceType != '' ">
			AND t.device_type = #{deviceType}
		</if>
		<if test="organId != null and organId != '' ">
			AND t.organ_id = #{organId}
		</if>
	</select>

	<select id="getNoDefaultSysAppVersion" resultType="com.jiewen.spp.dto.DeviceAppInfoDto">
		select a.app_name,
		a.app_package,
		a.app_version,
		a.app_file,
		a.app_md5,
		a.app_description,
		a.start_hard_shift,
		a.end_hard_shift,
		ai.organ_id,
		a.upgrade_mode
		FROM t_app_version a
		LEFT JOIN
		t_app_info ai
		ON ai.app_package = a.app_package
		WHERE a.app_package =
		#{appPackage}
		<if test="organId != null and organId != '' ">
			AND ai.organ_id = #{organId}
		</if>
	</select>

</mapper>