<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiewen.spp.dao.RecordInfoMapper">

	<update id="update">
		UPDATE `t_record_info` SET package_info = #{packageInfo}, status = #{status} 
		                           WHERE id = #{id}
		                           
	</update>

</mapper>